
body{
    background-image: url(Фон2.jpg); /* Путь к фоновому изображению */ 
    background-size: cover;
    background-position: top center;
    height: auto;
    }
    .img
    {
        padding-left: 8%;
    }
    .topnav {
        background-color: #333;
        overflow: hidden;
    }
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    .HelpInfo
    {
        color: rgb(0, 0, 0);
          text-align: center;
          margin-top: 1%;
          font-size:140%;
    }
    
  