
body{
    background-image: url(Фон2.jpg); /* Путь к фоновому изображению */ 
    background-size: cover;
    background-position: top center;
    height: auto;
    }
h1
    {
        color: rgb(0, 0, 0);
        padding-left: 30%;
        padding-right: 30%;
        font-size: 40px;
    }
p   {
        color: rgb(0, 0, 0);
      /* padding-left: 4%;
        padding-right: 4%;*/
        text-align: center;
        margin-top:  2%;
        font-size:140%;
    }

    .img
    {

        padding-left: 12%;
       
    
    }
    .topnav {
        background-color: #333;
        overflow: hidden;
    }
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    .content
    {
        text-align: center;
    }
    
  