
body{
    background-image: url(Main\ page.jpg); /* Путь к фоновому изображению */ 
    background-size: cover;
    background-position: top center;
    min-height: 100vh;
    overflow: hidden;
    }
/*h1
    {
        color: rgb(0, 0, 0);
        padding-left: 40%;
        padding-right: 40%;
        font-size: 50px; 
    }
p   {
        color: rgba(255, 255, 255, 0.795);
        background: #10518d59;
        padding-left: 14%;
        padding-right: 14%;
        margin-top:  24%;
        font-size:140%;
    

    .list
    {
    border-color: #847462;
    color: rgb(0, 0, 0);
    padding-left: 8%;
    padding-right: 8%;
    font-size:140%;
    }
    */
    .topnav {
        background-color: #333;
        overflow: hidden;
    }
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 12px 14px;
        text-decoration: none;
        font-size: 14px;
    }
    .TextCont
    {
        color: rgb(255, 255, 255);
        background: #444b5283;
        border: 10px solid #444b5283;;
        padding: 10px;
        margin: 20px;
        margin-top:  16%;
        font-size:140%;
        
    }
  
  
    
